body{
   font-size: 18px;
    color: #020509;
    background-color: #FFCE38;
}

h1{
    font-weight: bold;
    color: #FF0038;
}

p, h1, dl{
  width: 500px;
  border: solid;
    background-color:#00CFFA;
    border-radius: 10px;
    padding: 8px;
}

dt{
font-weight: bold;
font-size: 20px;
}
